@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@font-face {
  font-family: "YourHandwritingFont"; /* Replace 'YourHandwritingFont' with the actual font name */
  src: url("../fonts/Pwmambo-g52E.ttf") format("truetype");
}

.font-custom {
  font-family: "YourHandwritingFont", sans-serif;
}
